body {
  padding: 0 5%;
}

header {
  text-align: center;
}

table {
  border: 1px solid black;
  width: 55vw;
  height: 30vh;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
}

.eventList {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

article {
  margin-top: 3%;
}

.v {
  color: green;
}

.x {
  color: red;
}

.null {
  color: grey;
}

.v,
.x,
.null {
  font-weight: bold;
}


.edit-input{
  width: 300px;
  height: 250px;
  background-color: wheat;
  position: absolute;
  left: 45%;
  top: 30%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  display: none;
}

.edit-input.show{
  display: flex;
}
.e-input{
  margin-top: 1rem;
}

#change, #cancle{
  padding: 3px;
}